<!DOCTYPE html>
<html class="is_not_mobile needs_reduced_ui" lang="en" xmlns:og="http://opengraphprotocol.org/schema/" xmlns:fb="http://www.facebook.com/2008/fbml">
<!-- Mirrored from www.discogs.com/ by HTTrack Website Copier/3.x [XR&CO'2014], Sat, 20 Feb 2016 00:15:07 GMT -->
<!-- Added by HTTrack -->
<meta http-equiv="content-type" content="text/html;charset=utf-8" />
<!-- /Added by HTTrack -->
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    @*<script type="text/javascript">window.NREUM || (NREUM = {}), __nr_require = function (t, e, n) { function r(n) { if (!e[n]) { var o = e[n] = { exports: {} }; t[n][0].call(o.exports, function (e) { var o = t[n][1][e]; return r(o || e) }, o, o.exports) } return e[n].exports } if ("function" == typeof __nr_require) return __nr_require; for (var o = 0; o < n.length; o++) r(n[o]); return r }({ QJf3ax: [function (t, e) { function n() { } function r(t) { function e(t) { return t && t instanceof n ? t : t ? a(t, i, o) : o() } function c(n, r, o) { t && t(n, r, o); for (var i = e(o), a = f(n), c = a.length, u = 0; c > u; u++) a[u].apply(i, r); return i } function u(t, e) { p[t] = f(t).concat(e) } function f(t) { return p[t] || [] } function s() { return r(c) } var p = {}; return { on: u, emit: c, create: s, listeners: f, context: e, _events: p } } function o() { return new n } var i = "nr@context", a = t("gos"); e.exports = r() }, { gos: "7eSDFh" }], ee: [function (t, e) { e.exports = t("QJf3ax") }, {}], 3: [function (t, e) { function n(t) { return function () { r(t, [(new Date).getTime()].concat(i(arguments))) } } var r = t("handle"), o = t(1), i = t(2); "undefined" == typeof window.newrelic && (newrelic = window.NREUM); var a = ["setPageViewName", "addPageAction", "setCustomAttribute", "finished", "addToTrace", "inlineHit", "noticeError"]; o(a, function (t, e) { window.NREUM[e] = n("api-" + e) }), e.exports = window.NREUM }, { 1: 12, 2: 13, handle: "D5DuLP" }], gos: [function (t, e) { e.exports = t("7eSDFh") }, {}], "7eSDFh": [function (t, e) { function n(t, e, n) { if (r.call(t, e)) return t[e]; var o = n(); if (Object.defineProperty && Object.keys) try { return Object.defineProperty(t, e, { value: o, writable: !0, enumerable: !1 }), o } catch (i) { } return t[e] = o, o } var r = Object.prototype.hasOwnProperty; e.exports = n }, {}], D5DuLP: [function (t, e) { function n(t, e, n) { return r.listeners(t).length ? r.emit(t, e, n) : void (r.q && (r.q[t] || (r.q[t] = []), r.q[t].push(e))) } var r = t("ee").create(); e.exports = n, n.ee = r, r.q = {} }, { ee: "QJf3ax" }], handle: [function (t, e) { e.exports = t("D5DuLP") }, {}], XL7HBI: [function (t, e) { function n(t) { var e = typeof t; return !t || "object" !== e && "function" !== e ? -1 : t === window ? 0 : i(t, o, function () { return r++ }) } var r = 1, o = "nr@id", i = t("gos"); e.exports = n }, { gos: "7eSDFh" }], id: [function (t, e) { e.exports = t("XL7HBI") }, {}], G9z0Bl: [function (t, e) { function n() { if (!v++) { var t = l.info = NREUM.info, e = f.getElementsByTagName("script")[0]; if (t && t.licenseKey && t.applicationID && e) { c(p, function (e, n) { t[e] || (t[e] = n) }); var n = "https" === s.split(":")[0] || t.sslForHttp; l.proto = n ? "https://" : "http://", a("mark", ["onload", i()]); var r = f.createElement("script"); r.src = l.proto + t.agent, e.parentNode.insertBefore(r, e) } } } function r() { "complete" === f.readyState && o() } function o() { a("mark", ["domContent", i()]) } function i() { return (new Date).getTime() } var a = t("handle"), c = t(1), u = window, f = u.document; t(2); var s = ("" + location).split("?")[0], p = { beacon: "bam.nr-data.net", errorBeacon: "bam.nr-data.net", agent: "js-agent.newrelic.com/nr-852.min.js" }, d = window.XMLHttpRequest && XMLHttpRequest.prototype && XMLHttpRequest.prototype.addEventListener && !/CriOS/.test(navigator.userAgent), l = e.exports = { offset: i(), origin: s, features: {}, xhrWrappable: d }; f.addEventListener ? (f.addEventListener("DOMContentLoaded", o, !1), u.addEventListener("load", n, !1)) : (f.attachEvent("onreadystatechange", r), u.attachEvent("onload", n)), a("mark", ["firstbyte", i()]); var v = 0 }, { 1: 12, 2: 3, handle: "D5DuLP" }], loader: [function (t, e) { e.exports = t("G9z0Bl") }, {}], 12: [function (t, e) { function n(t, e) { var n = [], o = "", i = 0; for (o in t) r.call(t, o) && (n[i] = e(o, t[o]), i += 1); return n } var r = Object.prototype.hasOwnProperty; e.exports = n }, {}], 13: [function (t, e) { function n(t, e, n) { e || (e = 0), "undefined" == typeof n && (n = t ? t.length : 0); for (var r = -1, o = n - e || 0, i = Array(0 > o ? 0 : o) ; ++r < o;) i[r] = t[e + r]; return i } e.exports = n }, {}] }, {}, ["G9z0Bl"]);</script>
    <script type="text/javascript">window.NREUM || (NREUM = {}); NREUM.info = { "beacon": "bam.nr-data.net", "queueTime": 0, "licenseKey": "eba5812a4d", "agent": "", "transactionName": "ZAZSMhYEV0RZARVfCV1MYB8QDVZZFzUEVElwDF4SFgpVW10QTkUDUhFTDksUTFJKGw==", "userAttributes": "SEFCAxUQXERMPRREChFZEg4QEUlEAk1OQRFETVQPFwZWUEtMAlkLHEEcRBYASEJdERVpD0A8QwMHEEtSGlhQGkRBBl0JEABmVlwGExRcEVQASFVcABkJUlcYVwZSEkpGF1xGTQcSQjlaEG8eDBcbDQgf", "applicationID": "2978077", "errorBeacon": "bam.nr-data.net", "applicationTime": 657 }</script>*@
    @*<meta name="google-site-verification" content="P9e8dDWoaDuDPrp0DD3zgkSxYwl5w10Ask6KkHr2V6k">*@
    <meta http-equiv="content-language" content="en">
    <meta http-equiv="pragma" content="no-cache" />
    <meta http-equiv="expires" content="-1" />
    <meta id="viewport" name="viewport" content="initial-scale=1.0,width=device-width" />
    <script>
        window.__start = new Date().getTime();
        if (window.innerWidth <= 600) document.getElementById('viewport').setAttribute('content', 'initial-scale=1.0');
    </script>
    <meta name="description" content="Discover the largest action figure database and marketplace in the world. Buy and sell boxed and unboxed action figures with collectors across the globe. Complete your collection.">
    <meta name="keywords" content="action figures, toys, collectables">
    @*
        <meta property="fb:app_id" content="117175028305858">
    *@
    <title>Discogs - Database and Marketplace for Music on Vinyl, CD, Cassette and More    </title>
    <link rel="alternate" hreflang="de" href="http://www.discogs.com/de/search/" />
    <link rel="alternate" hreflang="en" href="http://www.discogs.com/search/" />
    <link rel="alternate" hreflang="es" href="http://www.discogs.com/es/search/" />
    <link rel="alternate" hreflang="fr" href="http://www.discogs.com/fr/search/" />
    <link rel="alternate" hreflang="it" href="http://www.discogs.com/it/search/" />
    <link rel="alternate" hreflang="ja" href="http://www.discogs.com/ja/search/" />
    <link rel="stylesheet" type="text/css" href="../s.discogs.com/dst/stylesheets/discogs89b1.css?accfb" />
    <!--[if IE 7]>
    <link rel="stylesheet" type="text/css" href="//s.discogs.com/dst/fontawesome/font-awesome-ie7.css" />
    <![endif]-->
    <link rel="stylesheet" type="text/css" href="../s.discogs.com/dst/stylesheets/sections/get_starteda712.css?7b8ce" />
    <link rel="icon" href="https://s.discogs.com/images/favicon.ico" />
    <link rel="icon" sizes="16x16" href="../s.discogs.com/images/favicon-16x16.png" />
    <link rel="icon" sizes="32x32" href="../s.discogs.com/images/favicon-32x32.png" />
    <link rel="icon" sizes="96x96" href="../s.discogs.com/images/favicon-96x96.png" />
    <link rel="apple-touch-icon" href="../s.discogs.com/images/apple-touch-icon-precomposed.png" />
    <script id="dsdata">
        function dsdata() {
            return { "locale": "en", "apiServer": "https://api.discogs.com", "assetBasePath": "dst/", "searchQuery": "", "shaDate": "2016-02-19", "sentryKey": "https://9faf2525af974cee81d5ae2b5d23a461@app.getsentry.com/51758", "ga_pageview_title": "home", "countryAbbr": "us", "loginUrl": "https://www.discogs.com/login", "pagination_limit": 50, "isMobile": false, "activationHelpUrl": "/help/doc/activation", "autocompleteUrl": "/search/ac", "ga_pageview_page": "/home", "imagesHost": "https://s.discogs.com/", "defaultLocale": "en", "recaptchaKey": "6LdGMgITAAAAAPG6lAC5r1yck_LpHUbQs4IbnNtV", "endpoint": "search.query", "useSentry": true, "appEnv": "production", "sha": "18cdc8b", "cookieDomain": "www.discogs.com", "assetsHost": "https://s.discogs.com/", "logErrors": true };
        }
    </script>
    <script>
        window.ds = typeof window.ds == "function" ? window.ds : function () {
            (ds.q = ds.q || []).push(arguments);
            return ds;
        };
    </script>
    @*<script>
        (function (i, s, o, g, r, a, m) {
            i['GoogleAnalyticsObject'] = r; i[r] = i[r] || function () {
                (i[r].q = i[r].q || []).push(arguments)
            }, i[r].l = 1 * new Date(); a = s.createElement(o),
            m = s.getElementsByTagName(o)[0]; a.async = 1; a.src = g; m.parentNode.insertBefore(a, m)
        })(window, document, 'script', '../www.google-analytics.com/analytics.js', 'ga');
        ga('create', 'UA-36965964-1', { 'sampleRate': 10 });

        ga('create', 'UA-36965964-3', 'auto', 'labs', { 'sampleRate': 0.23117779306119857 });

        if (dsdata().userID) {
            ga('set', '&uid', dsdata().userID);
            ga('labs.html', '&uid', dsdata().userID);
        }
        ga('set', 'dimension1', 'header old');
        ga('labs.html', 'dimension1', 'header old');
        ga('require', 'displayfeatures');
        ga('labs.require', 'displayfeatures');
    </script>
    <script type='text/javascript'>
        var googletag = googletag || {};
        googletag.cmd = googletag.cmd || [];
    </script>*@
</head>
<body class="win seamonkey seamonkey4" data-ng-app="app">
    <div id="main_wrapper">
        <div id="site_headers_super_wrap">
            <div id="site_header_wrap">
                <div id="site_header" role="banner" aria-label="Discogs Header">
                    <a id="header_logo"
                       href="index.html"
                       title="Go to Discogs.com homepage">
                        <img src="../s.discogs.com/images/discogs-whitee4da.png?5" alt="" />
                    </a>
                    <form id="site_search" action="https://www.discogs.com/search/" role="search" aria-label="Search Discogs">
                        <input id="search_q"
                               name="q"
                               type="text"
                               class="autocomplete ac_type_a_m_r_13 ac_submit init"
                               value=""
                               autocapitalize="off"
                               autocorrect="off"
                               placeholder="Search boxed, loose and more..."
                               aria-label="Search boxed, loose and more..." />
                        <button type="submit"
                                id="do_site_search"
                                class="submit button"
                                name=""
                                value=""
                                aria-label="Search">
                            <i class="icon icon-search"></i>
                        </button>
                        <input type="hidden" class="advanced_search advanced_search_type" name="type" value="all" />
                    </form>
                    <ul id="site_navigation" role="navigation" aria-label="Main Navigation">
                        <li id="section_nav_explore">
                            <a href="https://www.discogs.com/search/" class="nav_group_control">Explore</a>
                        </li>
                        <li id="section_nav_marketplace" class="site_nav_group" data-id="marketplace">
                            <a href="sell/list.html" class="nav_group_control" aria-label="Toggle Marketplace Menu">
                                Marketplace<i class="icon icon-caret-down"></i>
                            </a>
                        </li>
                        <li id="section_nav_community" class="site_nav_group" data-id="community">
                            <a href="group/index.html" class="nav_group_control" aria-label="Toggle Community Menu">
                                Community<i class="icon icon-caret-down"></i>
                            </a>
                            <ul class="site_nav_submenu" id="site_nav_submenu_community">
                                <li>
                                    <a href="group/index.html">
                                        Groups
                                    </a>
                                </li>
                                <li>
                                    <a href="forum/index.html">
                                        Forum
                                    </a>
                                </li>
                                <li>
                                    <a href="https://blog.discogs.com/">
                                        Blog
                                    </a>
                                </li>
                                <li>
                                    <a href="loginaae1.html">
                                        Friends
                                    </a>
                                </li>
                                <li>
                                    <a href="help/doc/forums.html">
                                        Guidelines
                                    </a>
                                </li>
                            </ul>
                        </li>
                    </ul>
                    <ul id="activity_menu"
                        class="activity_menu_columns_2"
                        role="navigation"
                        aria-label="Activity Menu">
                        <li>
                            <a class="button_green button" href="users/create.html">
                                Register
                            </a>
                        </li>
                        <li>
                            <a href="login4d01.html?return_to=%2#/home" id="log_in_link" class="nav_group_control">
                                Log In
                            </a>
                        </li>
                        <li>
                            @Html.Partial("_LoginPartial")
                        </li>
                    </ul>
                    <a href="#mobile_site_navigation_toggle" id="mobile_site_navigation_toggle" aria-label="Open Site Menu" class=""><i class="icon icon-bars"></i></a>
                    <ul id="mobile_site_navigation">
                        <li id="activity_menu_placeholder"></li>
                        <li id="site_navigation_placeholder"></li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="ac_div" id="ac_search_q"></div>
        <div class="flash_messages">
            <noscript>
                <div class="alert-message alert-message-warning alert-message-top"
                     data-alert-message-closable="false"
                     data-alert-message-auto-close="false">
                    <div class="alert-message-content float_fix">
                        <i class="icon icon-exclamation-triangle alert-message-icon"></i>
                        <span class="alert-message-text">
                            <strong>Please enable Javascript to take full advantage of our site features.</strong>
                        </span>
                    </div>
                </div>
            </noscript>
        </div>
        <div class="container body-content">
            @RenderBody()
            @RenderSection("SPAViews", required: false)
            @*<hr />
            <footer>
                <p>&copy; @DateTime.Now.Year - My ASP.NET Application</p>
            </footer>*@
        </div>
        <div class="container body-content" data-ng-view>
        </div>
        <div id="push_footer"></div>
    </div>
    <div id="site_footer_wrap">
        <div id="site_footer" role="navigation" aria-label="Footer Navigation">
            <ul id="site_footer_list">
                <li>
                    <h5>Discogs</h5>
                    <ul>
                        <li>
                            <a href="about.html">
                                About Us
                            </a>
                        </li>
                        <li>
                            <a href="https://blog.discogs.com/">
                                Blog
                            </a>
                        </li>
                        <li>
                            <a href="http://shop.discogs.com/">Shop</a>
                        </li>
                        <li>
                            <a href="app.html">
                                App
                            </a>
                        </li>
                        <li>
                            <a href="jobs.html">
                                Jobs
                            </a>
                        </li>
                        <li>
                            <a href="developers/index.html">
                                API
                            </a>
                        </li>
                        <li>
                            <a href="https://blog.discogs.com/">
                                Change Log
                            </a>
                        </li>
                    </ul>
                </li>
                <li>
                    <h5>Help Is Here</h5>
                    <ul>
                        <li>
                            <a href="help.html">
                                Help &amp; Support
                            </a>
                        </li>
                        <li>
                            <a href="forum/index.html">
                                Forum
                            </a>
                        </li>
                        <li>
                            <a class="show_keyboard_shortcuts" href="#show_keyboard_shortcuts">
                                Keyboard Shortcuts
                            </a>
                        </li>
                    </ul>
                </li>
                <li>
                    <h5>Join In</h5>
                    <ul>
                        <li>
                            <a href="getstarted/index.html">
                                Get Started
                            </a>
                        </li>
                        <li>
                            <a href="users/create.html">
                                Sign Up
                            </a>
                        </li>
                        <li>
                            <a href="help/doc/contributing.html">
                                Contribute
                            </a>
                        </li>
                        <li>
                            <a href="login47a0.html">
                                Add Release
                            </a>
                        </li>
                        <li>
                            <a href="stats/contributors.html">
                                Contributor List
                            </a>
                        </li>
                        <li>
                            <a href="https://www.transifex.com/projects/p/discogs-i18n/">
                                Help Translate
                            </a>
                        </li>
                        <li>
                            <a href="events.html">
                                Discogs Events
                            </a>
                        <li>
                            <a href="advertise.html">
                                Advertise With Us
                            </a>
                        </li>
                    </ul>
                </li>
                <li>
                    <h5>Follow Us</h5>
                    <ul>
                        <li>
                            <a href="http://www.facebook.com/Discogs">
                                <i class="icon icon-facebook-square"></i>Facebook
                            </a>
                        </li>
                        <li>
                            <a href="http://twitter.com/discogs">
                                <i class="icon icon-twitter"></i>Twitter
                            </a>
                        </li>
                        <li>
                            <a href="http://instagram.com/discogs">
                                <i class="icon icon-instagram"></i>Instagram
                            </a>
                        </li>
                        <li>
                            <a href="http://www.mixcloud.com/discogs/">
                                <i class="icon icon-mixcloud"></i>Mixcloud
                            </a>
                        </li>
                        <li>
                            <a href="https://soundcloud.com/discogs">
                                <i class="icon icon-soundcloud"></i>Soundcloud
                            </a>
                        </li>
                        <li>
                            <a href="http://discogs-official.tumblr.com/">
                                <i class="icon icon-tumblr-square"></i>Tumblr
                            </a>
                        </li>
                    </ul>
                </li>
            </ul>
            <p id="site_footer_legal">
                <span id="copyright">
                    &copy; 2016 Discogs&reg;
                </span>
                <a id="terms_link" href="help/doc/terms-of-service.html">Terms of Service</a>
                <a id="privacy_link" href="help/doc/privacy-policy.html">Privacy Policy</a>
                <a id="cookie_link" href="help/doc/cookie-policy.html">Cookie Policy</a>
                <span id="language_container">
                    <a id="i18n_link" href="#select-language" data-code="en" data-name="English">
                        <i class="icon icon-globe"></i>
                        English
                        <i class="icon icon-caret-down"></i>
                    </a>
                    <select id="i18n_select">
                        <option id="language_de_field" name="language_code" class="language" value="de"> Deutsch </option>
                        <option id="language_en_field" name="language_code" class="language" value="en" selected> English </option>
                        <option id="language_es_field" name="language_code" class="language" value="es"> Español </option>
                        <option id="language_fr_field" name="language_code" class="language" value="fr"> Français </option>
                        <option id="language_it_field" name="language_code" class="language" value="it"> Italiano </option>
                        <option id="language_ja_field" name="language_code" class="language" value="ja"> 日本語 </option>
                    </select>
                </span>
                <a id="footer_menu_link">
                    <i class='icon icon-chevron-down'></i>
                    <i class='icon icon-chevron-up'></i>
                </a>
            </p>
        </div>
    </div>
    <div id="act"></div>
    <!--[if lte IE 7]><script type="text/javascript" src="https://s.discogs.com/dst/javascripts/bower/json2/json2.js?a6d5f" ></script><![endif]-->
    <script type='text/javascript'>
        !function () { "use strict"; function a(a) { return "function" == typeof a || "object" == typeof a && null !== a } function b(a) { return "function" == typeof a } function c(a) { return "object" == typeof a && null !== a } function g() { } function n() { return function () { process.nextTick(s) } } function o() { var a = 0, b = new l(s), c = document.createTextNode(""); return b.observe(c, { characterData: !0 }), function () { c.data = a = ++a % 2 } } function p() { var a = new MessageChannel; return a.port1.onmessage = s, function () { a.port2.postMessage(0) } } function q() { return function () { setTimeout(s, 1) } } function s() { for (var a = 0; i > a; a += 2) { var b = r[a], c = r[a + 1]; b(c), r[a] = void 0, r[a + 1] = void 0 } i = 0 } function u() { } function z() { return new TypeError("You cannot resolve a promise with itself") } function A() { return new TypeError("A promises callback cannot return that same promise.") } function B(a) { try { return a.then } catch (b) { return y.error = b, y } } function C(a, b, c, d) { try { a.call(b, c, d) } catch (e) { return e } } function D(a, b, c) { j(function (a) { var d = !1, e = C(c, b, function (c) { d || (d = !0, b !== c ? G(a, c) : I(a, c)) }, function (b) { d || (d = !0, J(a, b)) }, "Settle: " + (a._label || " unknown promise")); !d && e && (d = !0, J(a, e)) }, a) } function E(a, b) { b._state === w ? I(a, b._result) : a._state === x ? J(a, b._result) : K(b, void 0, function (b) { G(a, b) }, function (b) { J(a, b) }) } function F(a, c) { if (c.constructor === a.constructor) E(a, c); else { var d = B(c); d === y ? J(a, y.error) : void 0 === d ? I(a, c) : b(d) ? D(a, c, d) : I(a, c) } } function G(b, c) { b === c ? J(b, z()) : a(c) ? F(b, c) : I(b, c) } function H(a) { a._onerror && a._onerror(a._result), L(a) } function I(a, b) { a._state === v && (a._result = b, a._state = w, 0 === a._subscribers.length || j(L, a)) } function J(a, b) { a._state === v && (a._state = x, a._result = b, j(H, a)) } function K(a, b, c, d) { var e = a._subscribers, f = e.length; a._onerror = null, e[f] = b, e[f + w] = c, e[f + x] = d, 0 === f && a._state && j(L, a) } function L(a) { var b = a._subscribers, c = a._state; if (0 !== b.length) { for (var d, e, f = a._result, g = 0; g < b.length; g += 3) d = b[g], e = b[g + c], d ? P(c, d, e, f) : e(f); a._subscribers.length = 0 } } function M() { this.error = null } function O(a, b) { try { return a(b) } catch (c) { return N.error = c, N } } function P(a, c, d, e) { var g, h, i, j, f = b(d); if (f) { if (g = O(d, e), g === N ? (j = !0, h = g.error, g = null) : i = !0, c === g) return J(c, A()), void 0 } else g = e, i = !0; c._state !== v || (f && i ? G(c, g) : j ? J(c, h) : a === w ? I(c, g) : a === x && J(c, g)) } function Q(a, b) { try { b(function (b) { G(a, b) }, function (b) { J(a, b) }) } catch (c) { J(a, c) } } function S(a, b, c, d) { this._instanceConstructor = a, this.promise = new a(u, d), this._abortOnReject = c, this._validateInput(b) ? (this._input = b, this.length = b.length, this._remaining = b.length, this._init(), 0 === this.length ? I(this.promise, this._result) : (this.length = this.length || 0, this._enumerate(), 0 === this._remaining && I(this.promise, this._result))) : J(this.promise, this._validationError()) } function Z() { throw new TypeError("You must pass a resolver function as the first argument to the promise constructor") } function $() { throw new TypeError("Failed to construct 'Promise': Please use the 'new' operator, this object constructor cannot be called as a function.") } function ab(a, c) { this._id = Y++, this._label = c, this._state = void 0, this._result = void 0, this._subscribers = [], u !== a && (b(a) || Z(), this instanceof ab || $(), Q(this, a)) } var d; d = Array.isArray ? Array.isArray : function (a) { return "[object Array]" === Object.prototype.toString.call(a) }; var e = d; Date.now || function () { return (new Date).getTime() }, Object.create || function (a) { if (arguments.length > 1) throw new Error("Second argument not supported"); if ("object" != typeof a) throw new TypeError("Argument must be an object"); return g.prototype = a, new g }; var t, i = 0, j = function (a, b) { r[i] = a, r[i + 1] = b, i += 2, 2 === i && t() }, k = "undefined" != typeof window ? window : {}, l = k.MutationObserver || k.WebKitMutationObserver, m = "undefined" != typeof Uint8ClampedArray && "undefined" != typeof importScripts && "undefined" != typeof MessageChannel, r = new Array(1e3); t = "undefined" != typeof process && "[object process]" === {}.toString.call(process) ? n() : l ? o() : m ? p() : q(); var v = void 0, w = 1, x = 2, y = new M, N = new M; S.prototype._validateInput = function (a) { return e(a) }, S.prototype._validationError = function () { return new Error("Array Methods must be provided an Array") }, S.prototype._init = function () { this._result = new Array(this.length) }; var T = S; S.prototype._enumerate = function () { for (var a = this.length, b = this.promise, c = this._input, d = 0; b._state === v && a > d; d++) this._eachEntry(c[d], d) }, S.prototype._eachEntry = function (a, b) { var d = this._instanceConstructor; c(a) ? a.constructor === d && a._state !== v ? (a._onerror = null, this._settledAt(a._state, b, a._result)) : this._willSettleAt(d.resolve(a), b) : (this._remaining--, this._result[b] = this._makeResult(w, b, a)) }, S.prototype._settledAt = function (a, b, c) { var d = this.promise; d._state === v && (this._remaining--, this._abortOnReject && a === x ? J(d, c) : this._result[b] = this._makeResult(a, b, c)), 0 === this._remaining && I(d, this._result) }, S.prototype._makeResult = function (a, b, c) { return c }, S.prototype._willSettleAt = function (a, b) { var c = this; K(a, void 0, function (a) { c._settledAt(w, b, a) }, function (a) { c._settledAt(x, b, a) }) }; var U = function (a, b) { return new T(this, a, !0, b).promise }, V = function (a, b) { function g(a) { G(d, a) } function h(a) { J(d, a) } var c = this, d = new c(u, b); if (!e(a)) return J(d, new TypeError("You must pass an array to race.")), d; for (var f = a.length, i = 0; d._state === v && f > i; i++) K(c.resolve(a[i]), void 0, g, h); return d }, W = function (a, b) { var c = this; if (a && "object" == typeof a && a.constructor === c) return a; var d = new c(u, b); return G(d, a), d }, X = function (a, b) { var c = this, d = new c(u, b); return J(d, a), d }, Y = 0, _ = ab; ab.all = U, ab.race = V, ab.resolve = W, ab.reject = X, ab.prototype = { constructor: ab, then: function (a, b, c) { var d = this, e = d._state; if (e === w && !a || e === x && !b) return this; d._onerror = null; var f = new this.constructor(u, c), g = d._result; if (e) { var h = arguments[e - 1]; j(function () { P(e, f, h, g) }) } else K(d, f, a, b); return f }, "catch": function (a, b) { return this.then(null, a, b) } }; var bb = function () { var a; a = "undefined" != typeof global ? global : "undefined" != typeof window && window.document ? window : self; var c = "Promise" in a && "resolve" in a.Promise && "reject" in a.Promise && "all" in a.Promise && "race" in a.Promise && function () { var c; return new a.Promise(function (a) { c = a }), b(c) }(); c || (a.Promise = _) }, cb = { Promise: _, polyfill: bb }; "function" == typeof define && define.amd ? define(function () { return cb }) : "undefined" != typeof module && module.exports ? module.exports = cb : "undefined" != typeof this && (this.ES6Promise = cb) }.call(this);

        ES6Promise.polyfill();

    </script>
    <!--[if lte IE 9]>
    <script type="text/javascript" src="https://s.discogs.com/dst/discogs.min.js?26e9f" ></script><script type="text/javascript" src="https://s.discogs.com/dst/javascripts/sections/get_started.js?626c5" ></script>
    <script type="text/javascript" src="https://s.discogs.com/dst/javascripts/sections/search.js?9ea47" ></script>
    <script>ds.require('app')</script>
    <script src='//www.googletagservices.com/tag/js/gpt.js' async></script><![endif]-->
    <!--[if gt IE 9]><!-->
    @*<script>
             (function(scripts){

                 scripts.push('../www.googletagservices.com/tag/js/gpt.js');var i = -1, l = scripts.length - 1;
                 var startTime = new Date().getTime();
                 var _scripts  = [];
                 var loads     = [];
                 var j;

                 var head = document.head || document.getElementsByTagName('head')[0];

                 function log(){
                     window.console && console.log && console.log.apply(console, arguments);
                 }

                 function makeScript(src){
                     var element  = document.createElement('script');
                     var isVendor = !!src.match(/javascripts\/(bower|lib)/);
                     var isSync   = !!(src.match('javascripts/define.html') || src.match('discogs.min.html'));
                     var isAsync  = !(isVendor || isSync);
                     var load     = new Promise(function(resolve){
                         element.onload = function(){ resolve(src); };
                         element.src = src;
                         element.setAttribute('defer', 'defer');
                         if (isAsync) {
                             element.setAttribute('async', 'async');
                         }
                     });
                     _scripts.push({ element: element, load: load, isAsync: isAsync });
                 }

                 for (j = 0; j <= l; j++) {
                     makeScript(scripts[j]);
                 }

                 for (j = 0; j <= l; j++) {
                     loads.push(_scripts[j].load);
                 }

                 Promise.all(loads).then(function(urls){
                     var app   = ds.require('app');
                         });

                 function loadNext(){
                     i++;
                     var script = _scripts[i];
                     if (script) {
                         head.appendChild(script.element);
                         if (script.isAsync) {
                             loadNext();
                         } else {
                             script.load.then(loadNext);
                         }
                     }
                 }

                 loadNext();

             })(["https://s.discogs.com/dst/discogs.min.js?26e9f", "../s.discogs.com/dst/javascripts/sections/get_startede6f7.js?626c5", "https://s.discogs.com/dst/javascripts/sections/search.js?9ea47"]);

        </script>*@
    <!--<![endif]-->
    <script>
        ds(function (require) {
            require("getStarted");
            require("parallax");
            require("search");
            require("pagination");
        });


    </script>
    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @Scripts.Render("~/bundles/angular")
    @Scripts.Render("~/bundles/angular-third-party")
    @Scripts.Render("~/bundles/angular-app")
    @RenderSection("Scripts", required: false)
</body>
</html>
